doctype html
include config
include includes/head
body
	#bgAnimation
		.bg-space.space-1
		.bg-space.space-2
		.bg-space.space-2-blue
		.bg-space.space-2-black
		.bg-space.space-2-red
		.bg-space.space-2-yellow
		.bg-space.space-3
	div
		include includes/header
		main.container.mb-1
			include includes/settings
			.text-center
				img#navbarLogo.img-fluid.text-center(src="img/logo.png", alt="/tg/station 13")
			include includes/sections/alerts
			include includes/sections/introText
			include includes/sections/servers
			include includes/sections/userbanner
