section#introText
	.card.bg-dark-850.border.mt-5
		.card-body.pb-2
			.custom-title
				.triangle-before &nbsp;
				h4.title What is Space Station 13
				.triangle-after &nbsp;
			button#dismiss.btn-close.custom-close(type="button", aria-label="Close", data-close-target="introText")
			p.mt-2.mb-0
				| Space Station 13 is a paranoia-laden round-based roleplaying
				| game set against the backdrop of a nonsensical, metal death trap
				| masquerading as a space station, with charming spritework
				| designed to represent the sci-fi setting and its dangerous
				| undertones. Have fun, and survive!
			.d-flex.justify-content-center.pt-2
				a(href="https://secure.byond.com/download/?invite=Tgstation", target="_blank") Get BYOND
				a.ms-4(href="https://tgstation13.org/wiki/Downloading_the_source_code#Hosting_a_server", target="_blank") Host a server

