section#servers
	.card.bg-dark-850.border.mt-5
		.card-body.pb-1
			.custom-title
				.triangle-before &nbsp;
				h4.title Servers
				.triangle-after &nbsp;
			.mt-2.mb-0
				small.position-absolute.top-0.end-0.mt-2.me-3
					span.bannerusercount
				p.text-center.mb-1 Standard Servers
				.row.d-flex.justify-content-around.g-2
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center.server-banner
						a(href="byond://bagil.tgstation13.org:2337")
							noscript
								img.gamebanner(src="dynamicimages/gamebanner.php?server=bagil", loading="lazy")
							span.gamebannerplaceholder(data-gamebannerserver="bagil")
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center.server-banner
						a(href="byond://sybil.tgstation13.org:1337")
							noscript
								img.gamebanner(src="dynamicimages/gamebanner.php?server=sybil", loading="lazy")
							span.gamebannerplaceholder(data-gamebannerserver="sybil")
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center.server-banner
						a(href="byond://terry.tgstation13.org:3336")
							noscript
								img.gamebanner(src="dynamicimages/gamebanner.php?server=terry", loading="lazy")
							span.gamebannerplaceholder(data-gamebannerserver="terry")
				p.text-center.mb-1.mt-2 Themed Servers
				.row.d-flex.justify-content-around.g-2
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center.server-banner
						a(href="byond://sybil.tgstation13.org:1448")
							noscript
								img.gamebanner(src="dynamicimages/gamebanner.php?server=sybil2", loading="lazy")
							span.gamebannerplaceholder(data-gamebannerserver="sybil2")
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center.server-banner
						a(href="byond://tgmc.tgstation13.org:5337")
							noscript
								img.gamebanner(src="dynamicimages/gamebanner.php?server=dmca", loading="lazy")
							span.gamebannerplaceholder(data-gamebannerserver="dmca")
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center.server-banner
						a(href="byond://campbell.tgstation13.org:6337")
							noscript
								img.gamebanner(src="dynamicimages/gamebanner.php?server=campbell", loading="lazy")
							span.gamebannerplaceholder(data-gamebannerserver="campbell")
				p.text-center.mb-1.mt-2 Special Servers
				.row.d-flex.justify-content-around.g-2
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center.server-banner
						a(href="byond://bagil.tgstation13.org:4447")
							noscript
								img.gamebanner(src="dynamicimages/gamebanner.php?server=eventhallus", loading="lazy")
							span.gamebannerplaceholder(data-gamebannerserver="eventhallus")
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center.server-banner
						a(href="byond://eurobeat.tgstation13.org:42069")
							noscript
								img.gamebanner(src="dynamicimages/gamebanner.php?server=ftl13", loading="lazy")
							span.gamebannerplaceholder(data-gamebannerserver="ftl13")
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center.server-banner
						a(href="byond://138.201.56.145:4337")
							noscript
								img.gamebanner(src="dynamicimages/gamebanner.php?server=eventhall", loading="lazy")
							span.gamebannerplaceholder(data-gamebannerserver="eventhall")
				small.d-block.text-center.mt-1
					| Green = New round lobby, Blue = Round in progress, Red =
					| Round over or error
