section#servers
	.card.bg-dark-850.border.mt-5
		.card-body.pb-1
			.custom-title
				.triangle-before &nbsp;
				h4.title Servers
				.triangle-after &nbsp;
			.mt-2.mb-0
				small.position-absolute.top-0.end-0.mt-2.me-3 123 total players
				p.text-center.mb-0 Standard Servers
				.row
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center
						img.img-fluid(src="img/server-placeholder.png")
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center
						img.img-fluid(src="img/server-placeholder.png")
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center
						img.img-fluid(src="img/server-placeholder.png")
				p.text-center.mb-0.mt-2 Themed Servers
				.row
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center
						img.img-fluid(src="img/server-placeholder.png")
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center
						img.img-fluid(src="img/server-placeholder.png")
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center
						img.img-fluid(src="img/server-placeholder.png")
				p.text-center.mb-0.mt-2 Special Servers
				.row
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center
						img.img-fluid(src="img/server-placeholder.png")
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center
						img.img-fluid(src="img/server-placeholder.png")
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center
						img.img-fluid(src="img/server-placeholder.png")
				small.d-block.text-center.mt-1
					| Green = New round lobby, Blue = Round in progress, Red =
					| Round over or error
